/*CSS Definições Gerais - Início*/

html {
    height: 100%;
}

body,
ul,
li,
caption {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

h1 {
    font-size: 120%;
    text-align: center;
    color: black;
}

img {
    max-width: 100%;
    display: block;
}


/*CSS Definições Gerais - Fim*/


/*CSS Cabeçalho - Início*/

.cabecalho {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.cabecalho a {
    text-decoration: none;
    color: white;
}

.menu-superior {
    display: flex;
}

.menu-superior li {
    list-style: none;
    margin-left: 10px;
}


/*CSS Cabeçalho - Fim*/


/*CSS Corpo - Início*/

body {
    background-color: white;
}

p {
    text-align: justify;
}


/*CSS Corpo - Fim*/


/*CSS Rodapé - Início*/

.rodape {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

.copyright {
    margin: 0 auto;
}

.rodape>p {
    font-size: 70%;
    color: white;
}


/*CSS Rodapé - Fim*/


/*CSS Menu Mobile - Início*/

#menu-alternativo {
    display: none;
}

.menu-icone {
    display: none;
}

@media screen and (max-width: 600px) {
    .cabecalho {
        position: fixed;
        top: 0px;
        width: 100%;
    }
    .cabecalho nav {
        display: absolute;
        width: 100%;
        height: 100%;
    }
    .menu-superior {
        display: flex;
        position: fixed;
        flex-wrap: wrap;
        align-items: center;
        overflow: hidden;
        width: 100%;
        height: 0%;
        top: 0px;
        left: 0px;
        background-color: rgba(0, 0, 0, 0.7);
        transition: height 0.3s;
    }
    .menu-superior li {
        display: block;
        width: 100%;
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .menu-superior li a {
        display: block;
        text-align: center;
        width: 100%;
    }
    .menu-icone {
        display: block;
        color: white;
        width: 50px;
        height: inherit;
        position: absolute;
        top: 15px;
        right: 30px;
        line-height: 60px;
        z-index: 999;
    }
    .menu-icone i {
        font-size: 1.7em;
    }
    #menu-alternativo:checked~label i:nth-child(2) {
        display: block;
    }
    #menu-alternativo:checked~label i:first-child() {
        display: none;
    }
    #menu-alternativo:not(checked)~label i:first-child() {
        display: block;
    }
    #menu-alternativo:not(checked)~label i:nth-child(2) {
        display: none;
    }
    #menu-alternativo:checked~ul {
        height: 100%;
    }
}


/*CSS Menu Mobile - Início*/


/*CSS Grid - Início*/

.grid {
    display: grid;
    margin: 0 auto;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 2560px;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 10px;
}

.banner {
    grid-column: 3;
    grid-row: 2 / 5;
}

@media screen and (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
    .card {
        display: block;
    }
    .card:nth-child(9) {
        display: none;
    }
    .banner {
        display: none;
    }
}


/*CSS Grid - Fim*/